**/.terraform/
**/.terraform.lock.hcl
**/.ropeproject
.terraform/
.terraform.lock.hcl
.ropeproject
*.terraform/
*.terraform.lock.hcl
*.ropeproject
**terraform.tfstate
**terraform.tfstate.backup
**terraform.tfstate.lock
**terraform.tfstate.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock
terraform.tfstate.lock.hcl
lab5/terraform/
lab5/terraform.tfstate
lab5/terraform.tfstate.backup
lab5/terraform.tfstate.lock
lab5/terraform.tfstate.lock.hcl
**/.terraform.tfstate.lock.hcl
localstack/infra/.terraform.tfstate.lock.info
localstack/venv/
localstack/localstack-data/
